.top {
  display: flex;
  justify-content: center;
  margin: 0;
  /* background-color: #f73d2c; */
  height: 50rem;
  background-image: url("../images/back-ground/top.jpg");
  background-size: cover;
  background-color: rgba(239, 234, 238, 0.196);
  background-blend-mode: lighten;


}

.top-chara {
  width: 20.75rem;
  height: 33.875rem;
  /* flex-shrink: 0; */
}

.top-title{
  width: 40.25rem;
  height: 14.875rem;
  margin: 28rem;
  /* flex-shrink: 0; */
}

/* .background-img {
  width: 100%;
  object-fit: cover;
} */

.contents,
.details {
  margin: 0 14rem;
  aspect-ratio: ;
}



h1 {
  padding: 15px;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  color: #FF7E90;
  opacity: 80%;
}

h3 {
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2%;
  opacity: 80%;
  font-weight: bold;
}

.contents-wrapper {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  display: block;
  color: #FF7E90;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  opacity: 80%;
}


.detail1 {
  width: 60%;
  /* margin: 5%; */
}

@media(max-width:1100px) {

  .contents,
  .details {
    margin: 0 10rem;
  }

  .work-img {
    width: 70%;
  }

  .detail1 {
    width: 80%;
    /* margin: 5%; */
  }

}

@media(max-width:900px) {

  .contents,
  .details {
    margin: 0 10rem;
  }
}

@media(max-width:750px) {

  .contents,
  .details {
    margin: 0 7rem;
  }

  .detail1 {
    width: 100%;
    /* margin: 5%; */
  }
}


@media(max-width:500px) {

  .contents,
  .details {
    margin: 0 2.5rem;
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: bolder;
  }
}

.details p {
  font-size: 2rem;
  line-height: 4rem;
}

.contents p,
.contents a {
  margin: 6rem 0;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 4rem;
}

.movie {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0;
}

.movie iframe {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 13/9;
  /* アスペクト比を指定 */
}

.photo {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0;
}

.section-title {
  display: block;
  margin: auto;
  padding: 25px, 0;
  width: 45rem;
}

.slide-container {
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
}

.slide-paused:hover .slide-wrapper {
  animation-play-state: paused;
}

.slide-paused:hover .slide-wrapper img:hover {
  opacity: .8;
  cursor: grabbing;
}

.slide-wrapper {
  display: flex;
  animation: slide-flow 50s infinite linear 1s both;
}

.slide {
  /* width: 50rem; */
  object-fit: cover;
  border: 1px solid #ddd;
  /* aspect-ratio: 13/9; */
  height: 30rem;
}

@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}