.top {
  /* display: flex; */
  justify-content: center;
  /* background-color: #f73d2c; */
  height: 60rem;
  margin: 0 auto;
  /* overflow: hidden; */
  position:relative;
  /* margin-bottom: 30rem; */
}

.top1 {
  display: flex;
  justify-content: center;
  /* background-color: #f73d2c; */
  height: 60rem;
  background-image: url("../images/back-ground/kyoushitsu.png");
  background-size: cover;
  background-color: rgba(255, 235, 235, 0.315);
  background-blend-mode: lighten;
  margin: 0;
  overflow: hidden;
  /* position:relative; */
  /* margin-bottom: 30rem; */
}

.top-title {
  position: absolute;
  width: 60rem;
  top:40rem;
  filter: drop-shadow(5px 5px 10px rgba(133, 133, 133, 0.7));
}

.top-chizu,.top-runa{
  height:130rem;
  width: auto;
  /* margin-top: 10rem;
  margin-right: 15rem;
  margin-left: 15rem; */
}

/* .background-img {
  width: 100%;
  object-fit: cover;
} */

.contents,
.details {
  margin: 0 14rem;
  /* aspect-ratio: ; */
  text-align: center;
    overflow:hidden;
}

h1 {
  padding: 15px;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-weight: bolder;
}

h2 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  color: #e13c09;
  display: flex;
  align-items: center;
  text-shadow: 0.3rem 0.3rem 0.1rem #ffffff, -0.3rem -0.3rem 0.1rem #ffffff,
  -0.3rem 0.3rem 0.1rem #ffffff, 0.3rem -0.3rem 0.1rem #ffffff,
  0.3rem 0.3rem 0.1rem #ffffff;
}

h3 {
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.wrapper {
  /* background-color: #ffffff; */
  /* background-color: rgba(255, 255, 255, 0.774); */
  /* background-blend-mode: lighten; */
}

/* .section-d {
  position: relative;
  width: 1440px;
  height: 49px;
  margin: 0 0 0 0;
  background: #1b1b1b;
  z-index: 147;
} */

.section-e {
  /* position: absolute; */
  /* height: 1134px; */
  /* top: 0; */
  /* right: 0; */
  /* left: 9370px; */
  /* background: #cec7e0; */
  /* z-index: 18; */
  margin:4rem;
}

.text-4c {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* width: 605.5px; */
  /* top: 0; */
  /* left: calc(50% - 302.66px); */
  color: #000000;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: center;
}

.text-5c {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* width: 605.5px; */
  /* top: 0; */
  /* left: calc(50% - 302.66px); */
  /* color: #000000; */
  font-size: 1.6rem;
  line-height: 4rem;
  text-align: center;
}

.text-6c {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* width: 605.5px; */
  /* top: 0; */
  /* left: calc(50% - 302.66px); */
  color: #5a5a5a;
  font-size: 1.3rem;
  font-weight:light;
  line-height: 4rem;
  text-align: center;
}

a {
  text-decoration: none;
  display: block;
  color: #ff7e90;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  opacity: 80%;
}

.detail1 {
  width: 60%;
  /* margin: 5%; */
}

/* @media (max-width: 1100px) {
  .contents,
  .details {
    margin: 0 10rem;
  }

  .work-img {
    width: 70%;
  }

  .detail1 {
    width: 80%;
    /* margin: 5%; */
  /* }
}

@media (max-width: 900px) {
  .contents,
  .details {
    margin: 0 10rem;
  }
} */

/* @media (max-width: 750px) {  */
  /* .contents,
  .details {
    margin: 0 7rem;
  } */

  /* .detail1 {
    width: 100%;
    /* margin: 5%; */
  /* }
}  */

@media(min-width:751px){
  .sp{
      display: none !important;
  }
}
@media(max-width:750px){
  .pc{
      display: none !important;
  }
}

@media (max-width: 500px) {
  .contents,
  .details {
    margin: 0 5rem;
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
  }

  .top-title {
    width: 100%;
  }

}

.details p {
  font-size: 2rem;
  line-height: 4rem;
}

.contents p,
.contents a {
  margin: 6rem 0;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 4rem;
}

.movie {
  display: flex;
  justify-content: center;
  /* height: auto; */
  margin: 0;
  aspect-ratio: 13/9;
}

.movie iframe {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 13/9;
  /* アスペクト比を指定 */
}

.photo {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0;
}

.section-title {
  display: block;
  margin: auto;
  margin-bottom: 6rem;
  padding: 25px, 0;
  font-weight: 900;
  
}

.slide-container {
  width: 100%;
  margin-top: 5rem;
  /* margin-bottom: 10rem; */
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
  padding-bottom: 10rem;
  
}

.slide-wrapper {
  display: flex;
  animation: slide-flow 30s infinite linear 1s both;
}

.slide {
  /* width: 50rem; */
  object-fit: cover;
  border: 2px solid #ddd;
  /* aspect-ratio: 13/9; */
  height: 30rem;
}

@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.contents-wrapper{
  /* margin: 10rem 5rem; */
  padding-top:10rem;
  /* overflow: hidden; */
  /* border-radius: 4rem; */
}

.padding-bottom{
  padding-bottom: 15rem;
}

.red{
  background: linear-gradient(to top, #ff9cf83a 0%, #f5000034 100%)
}
.gold1{
  background-color: #ff000041;
}
.gold{
  /* background-color: #ff000041; */
  background: linear-gradient(to top, #ffa20058 0%, #ff000041 100%)
}

.yellow{
  /* background-color: #ffa20058; */
  background: linear-gradient(to top, #ffa20058 0%, #ffa20058 100%)
  
}

.charactor-d{
  background: linear-gradient(to top,#f5000034 0%, #ffffff34 50%, #ffa20058 100%)
}

.chara-runa{
  width:25rem;
  margin: 3rem 0;
}

.chara-chizuru{
  width: 10rem;
  margin: 5rem 0;
}

.padding-10{
  padding-top: 10rem;
}

.chara{
  margin:13rem 0;
}